PORT=8081
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_db_name

APIGEE_TOKEN_URL=https://icici-bank-azure-test.login.apigee.com/oauth/token
APIGEE_API_URL=https://api.enterprise.apigee.com/v1/organizations/icici-nonprod/apis
APIGEE_CLIENT_ID=edgecli
APIGEE_CLIENT_SECRET=edgeclisecret
